h1 {
    width: 800px;
    height: 36px;
}
.bluebox{
    background-color: blue;
    width: 300px;
    height: 150px;
}
p {
    width: 800px;
    height: 18px;
}
.greenbox {
    background-color: green;
    width: 650px;
    height: 120px;
}