html {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: black;
    opacity: 0.9;
    color: seashell;
}
#menus img {
   height: 50px;
   margin-top: 10px;
   margin-left: 10px;
   float: left;
}
nav {
    font-size: 1rem;
    background-color: black;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.menu li a {
    display: block;
    padding: 15px 5px;
}
.item {
    padding: 10px;
}
/* Middle; Banner*/

#mission {
    background-image: url("./img/img-mission-background.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 100%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    border-top: solid seashell;
}
.missiontext{
    color: seashell;
    background-color: black;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content:center;
}